ErrorDocument 403 /page42009926.html
ErrorDocument 404 /page42009926.html

DirectoryIndex page42382436.html

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^en$ page42382436.html [NC]
RewriteRule ^en/$ page42382436.html [NC]

RewriteRule ^ru$ page41878697.html [NC]
RewriteRule ^ru/$ page41878697.html [NC]

RewriteRule ^members/ ma_start.html [NC]


